.my-nav {
  position: relative;
  min-width: 350px;
  min-height: 80px;
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  border-radius: 10px;
  padding: 0 15px;
  background: black;
  box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.12),
    0 22.3px 17.9px rgba(0, 0, 0, 0.08), 0 100px 80px rgba(0, 0, 0, 0.04);
  overflow: hidden;
}

.my-nav .tubelight {
  --left: -99px;
  position: absolute;
  left: var(--left);
  top: 0px;
  transform: translateX(-50%);
  width: 45px;
  height: 5px;
  border-radius: 5px;
  background: #ffffff;
  transition: left 400ms ease;
  z-index: 10;
}
.my-nav .tubelight .light-ray {
  position: absolute;
  left: -30%;
  top: 5px;
  width: 160%;
  height: 80px;
  clip-path: polygon(5% 100%, 25% 0px, 75% 0px, 95% 100%);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3) -50%,
    rgba(255, 255, 255, 0) 90%
  );
  pointer-events: none;
}
